# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual Environment
venv/
.venv/

# Streamlit cache
app/.streamlit/secrets.toml

# Data folders
# app/processed_parquet/
# app/feature_cache/

# Logs
*.log
